{% extends 'base.html' %}
{% block content %}
    <form class="form-horizontal" role="form" method="post" action="" >
        <fieldset >
            <legend>添加主机</legend>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            {% if msg %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="app" class="col-sm-2 control-label">项目<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="app" name="app" placeholder="app">
                </div>
            </div>
           <div class="form-group">
                <label for="sort" class="col-sm-2 control-label">分类<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <select name="serv_sort" id="serv_sort" class="form-control">
                        {% for serv_sort in serv_sorts %}
                        <option value="{{ serv_sort.id }}">{{ serv_sort.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <a href="/addSort/">添加分类</a>
                </div>

            </div>

            <div class="form-group">
                <label for="ip" class="col-sm-2 control-label">IP<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="ip" name="ip" placeholder="IP">
                </div>
            </div>
            <div class="form-group">
                <label for="ip" class="col-sm-2 control-label">内存(G)<span style="color: red"> </span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="memsize" name="memsize" placeholder="32">
                </div>
            </div>
            <div class="form-group">
                <label for="ip" class="col-sm-2 control-label">磁盘数量(个)<span style="color: red"> </span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="disknum" name="disknum" placeholder="4">
                </div>
            </div>
            <div class="form-group">
                <label for="port" class="col-sm-2 control-label">Port<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="port" name="port" placeholder="Port">
                </div>
            </div>
            <div class="form-group">
                <label for="idc" class="col-sm-2 control-label">机柜编号<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <select name="idc" id="idc" class="form-control">
                        {% for idc in idcs %}
                        <option value="{{ idc.id }}">{{ idc.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <a href="/addIDC/">添加机柜</a>
                </div>

            </div>
            <div class="form-group">
                <label for="status" class="col-sm-2 control-label">服务状态<span style="color: red"> *</span></label>
                <div class="col-sm-4">
                    <select name="serv_status" id="serv_status" class="form-control">
                        {% for serv_status in serv_statuses %}
                        <option value="{{ serv_status.id }}">{{ serv_status.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <a href="/addStatus/">添加状态</a>
                </div>

            </div>
            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">类型<span style="color: red"></span></label>
                <div class="col-sm-4">
                <select name="type" id="type">
                    <option value="hysical">物理机</option>
                    <option value="virtual">虚拟机</option>
		        </select>
                </div>
            </div>
            <div class="form-group">
                <label for="ip" class="col-sm-2 control-label">实例名<span style="color: red"> </span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="instance" name="instance" placeholder="虚拟机的实例名">
                </div>
            </div>
            <div class="form-group">
                <label for="comment" class="col-sm-2 control-label">备注<span style="color: red"></span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="comment" name="comment" placeholder="备注(最好是英文)">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button class="btn btn-primary">添加</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
